
.login-btn button {
    background-color: rgba(255, 250, 250, 0.463);
    padding: 0 10px;
    border-radius: 4px;
    backdrop-filter: blur(4px);
    background-color: none;
    border: none;
    transition: all 0.3s ease;
}

.login-btn button:hover {
    transform: translateY(-5px)
}


/* ---- AuthPage ------ */


.form_container {
    display: flex;
    justify-content: center;

    padding: 10px;
}

.form {
    display: flex;
    width: 300px;
    flex-direction: column;
    background-color: rgba(255, 250, 250, 0.54);
    backdrop-filter: blur(3px) brightness(1.1);
    padding: 15px;
    transform: translateY(70px);
    border-radius: 10px;
    gap: 10px;
    text-align: center;
}

#login, #password {
    border-radius: 2px;
    border: none;
    padding: 5px;
}



#login::placeholder, #password::placeholder {
    color: rgb(155, 155, 155);
}

#btn_login {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    color: rgb(155, 155, 155);

    border: none;
    border-radius: 10px;
    background-color: snow;
    transition: all 0.2s ease;
}

#btn_login:hover {
    background-color: rgba(49, 106, 8, 0.51);
    color: snow;
    padding: 10px 0;
}

.red {
    border: 1px solid rgba(165, 42, 42, 0.674);
}

